{% extends 'base.html.twig' %}

{% block body %}
    <h2>Obwód głosowania</h2>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Zatwierdź" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('ward_index') }}">Wszystkie</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
