{% extends '::base.html.twig' %}

{% block title %}Książka adresowa - kontakty{% endblock %}

{% block topnav %}{% endblock %}

{% block body %}
    <form method="post">
        <input type="text" name="search">
        <input type="submit" value="Szukaj">
    </form>
    {% if contacts is not empty %}
        {% if searchmode is not defined %}
            <p>Kontakty:</p>
        {% else %}
            <p>Wyniki wyszukiwania:</p>
        {% endif %}
        <ul>
        {% for contact in contacts %}
            <li>
                <a href="{{ path('cl_contact_show', {'id': contact.id}) }}">
                    {{ contact.name }} {{ contact.surname }}
                </a>
                <a href="{{ path('cl_contact_modify', {'id': contact.id}) }}">
                    <small>zmień</small>
                </a>
                <a href="{{ path('cl_contact_delete', {'id': contact.id}) }}">
                    <small>usuń</small>
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        {% if searchmode is not defined %}
            <p>Książka adresowa jest pusta.</p>
        {% else %}
            <p>Nie znaleziono pasujących kontaktów.</p>
        {% endif %}
    {% endif %}
    {% if searchmode is defined %}
        <p><a href="{{ path('cl_contact_showall') }}">Wszystkie kontakty</a></p>
    {% endif %}
    <p><a href="{{ path('cl_contact_new') }}">Dodaj kontakt</a></p>
    <p><a href="{{ path('cl_contact_showgroups') }}">Grupy</a></p>
{% endblock %}
